<h1>New User</h1>

<form action="/new_user" method="POST">
    <p> <label for="username">Username:</label>
        <input type="text" id="username" name="username" /></p>

    <p> <label for="password">Password:</label>
        <input type="password" id="password" name="password" /></p>
    
    <p> <input type="submit" value="Sign Up" />
</form>